
 <h1 align="center" ><font size="62" color="#2d66f1" face="AR DESTINE">
<img src="https://png.icons8.com/reading/nolan/64" title="Reading" width="64" height="64">
	CIT Digital Library</font></h1>
    <hr/>
    <br/>
