<!DOCTYPE HTML>
<html>
<!--  head of page(head) -->
  <% include partials/head.ejs %>

<!--  head of page Ends   -->  

<body>
<!--  Heading of the page (heading)  -->   
    <% include partials/navbar.ejs %>


   <!--  Heading of the page Ends-->
<!-- Footer Start  (foooter)  -->
  <% include partials/footer.ejs %>


<!--  Footer Ends  -->
		 
 <!-- END OF THE \\(end)  -->
  <% include partials/end.ejs %>

   <!--END OF THE PAGE--> 



</body>
</html>