 <!DOCTYPE HTML>
 <html>
  <!--  head of page(head) -->
  <% include partials/head.ejs %>

  <!--  head of page Ends   -->  

  <body>
  <div class="container">
  <!--  Heading of the page (heading)  -->  


   <!--  Heading of the page Ends-->
 

 
  <hr/><div class="jumbotron">
      <p align="center" ><font size="62" color="#2d66f1" face="AR DESTINE">
	Your Credentials are not Correct<br/>
  you might have not Registered. Please register<br/>
  Or if Registerd Enter Correct credentials</font></p>
    <hr/>
    <br/>


  <a href="home">Click here to continue</a>
	</div></div> 



		 
 <!-- END OF THE \\(end)  -->
  <% include partials/end.ejs %>

   <!--END OF THE PAGE--> 



  </body>
  </html>