<html>
<head>
<title>AJAX CALL</title>
</head>
<body>
<p id="count"></p>
<script>
var request=new XMLHttpRequest();
request.onreadystatechange=function(){
if(request.readyState=== XMLHttpRequest.DONE)
{
if(request.status===200)
document.getElementById("count").innerHTML=request.responseText;
}
};
request.open('GET','mt',true);
request.send(null);
</script>
</body>
</html>