
 <!DOCTYPE HTML>
 <html>
  <!--  head of page(head) -->
  <% include partials/head.ejs %>

  <!--  head of page Ends   -->  

  <body>
  <div class="container">
  

 
  <hr/><div class="jumbotron">
      <h1 align="center" ><font size="62" color="#2d66f1" face="AR DESTINE">
	Admin Registration</font></h1>
    <hr/>
    <br/>

   

    <form action="alogin" method="post">  <div class="form-group"><label for="exampleInputPassword1">Name</label><input type="text" name="name" class="form-control" id="name" placeholder="Name" required ></div><div class="form-group">   <label for="exampleInputEmail1">Email</label><input type="email" name="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email" required></div> <div class="form-group"><label for="exampleInputPassword1">Password</label><input type="password" name="password" class="form-control" id="Password" placeholder="Password" required ></div>  <button type="submit" class="btn btn-primary btn-sm">Submit</button></form><hr/>


   <% include  partials/bottomnav.ejs %>

	</div></div> 



		 
 <!-- END OF THE \\(end)  -->
  <% include partials/end.ejs %>

   <!--END OF THE PAGE--> 



  </body>
  </html>







