 <!DOCTYPE HTML>
 <html>
  <!--  head of page(head) -->
  <% include partials/head.ejs %>

  <!--  head of page Ends   -->  

  <body>
  <div class="container">
  <!--  Heading of the page (heading)  -->   
    <% include partials/navbar.ejs %>


   <!--  Heading of the page Ends-->
 

 
  <hr/><div class="jumbotron">
      <h1 align="center" ><font size="62" color="#2d66f1" face="AR DESTINE">
	Help Desk </font></h1>
    <hr/>
    <br/>


<form allignment="center" action="fileupload" method="post" enctype="multipart/form-data">
<input type="file" name="filetoupload" ><hr/>
<input type="submit">
</form>
<br/>
<hr/>



  
   <% include  partials/bottomnav.ejs %>


   </nav>
	</div></div> 



		 
 <!-- END OF THE \\(end)  -->
  <% include partials/end.ejs %>

   <!--END OF THE PAGE--> 



  </body>
  </html>